
.outer{
    padding: 15px;
}
.guide-container {
  max-width: 700px;
  margin: auto;
  background:lavender;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
  border: 3px solid black;

}

.guide-container p {
  font-size: 18px;
  font-weight: 600;
  color: #222;
  margin-top: 20px;
}

.guide-container ul {
  background: white;
  padding: 12px 20px;
  border-left: 4px solid #007bff;
  border-radius: 8px;
  margin-top: 10px;
}

.guide-container li {
  font-size: 16px;
  color: #444;
  list-style: none;
  font-family: monospace;
}